<!DOCTYPE HTML>
html(lang="pt-BR")
  head
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title UltraSV [beta]
    link(href='./css/main.scss' rel='stylesheet' type='text/css')
    //- <link href="https://fonts.googleapis.com/css?family=Livvic|Montserrat|Roboto&display=swap" rel="stylesheet">
  body(style='overflow: hidden')
    header.welcome__header
      .welcome__image-container
        img.welcome__image(src='./images/fundo.jpg')

      .welcome__container
        h1.welcome__title Info Soluções
        h2.welcome__subtitle Soluções para o seu dia a dia
        p.welcome__text Bem vindos ao nosso site!
        a.welcome__button INICIAR
        span.welcome__icon
          i.fas.fa-chevron-down

    nav.navbar__main
      .navbar__container
        .navbar__logo-wrapper
          img.navbar__logo(src="./images/logo-grey.svg", alt="")
        .navbar__nav-wrapper
          ul.navbar__item-container
            li.navbar__item
              a.navbar__item-link(href="#home") Home
            li.navbar__item
              a.navbar__item-link(href="#about") Sobre Nós
            li.navbar__item
              a.navbar__item-link(href="#partners") Parceiros
            li.navbar__item
              a.navbar__item-link(href="#products") Produtos
            li.navbar__item
              a.navbar__item-link(href="#contact") Contato
      img.navbar__image(src="./images/nav2.jpg", alt="", srcset="")

      //- img(src="./images/nav.svg", alt="", srcset="")
    main.content
      article.content__home#home
        ul.content__home-slider.siema
          li.content__home-slider-cell
            img.content__home-img(src="./images/home2.jpg", alt="", srcset="")
            .content__home-text= home_text
          li
            img.content__home-img(src="./images/home2.jpg", alt="", srcset="")
          li
            img.content__home-img(src="./images/home2.jpg", alt="", srcset="")

        span.content__home-slider--left
          i.fas.fa-angle-left
        span.content__home-slider--right
          i.fas.fa-angle-right

      div.separator

      article.content__about#about
        .content__about-container
          .content__about-text--grey
            h1.content__about-text-title Ultra Sv
            p= about
          .content__about-text--white
            h1.content__about-text-title--white História
            p= about2
        .content__about-container
          .flip-card
              .flip-card-inner
                .flip-card-front--white
                  img(src="./images/noun_target.svg", alt="", srcset="")
                  span Missão
                .flip-card-back--white
                  span= missao
          .flip-card
              .flip-card-inner
                .flip-card-front--grey
                  img(src="./images/noun_binoculars.svg", alt="", srcset="")
                  span Visão
                .flip-card-back--grey
                  span= visao
          .flip-card
              .flip-card-inner
                .flip-card-front--white
                  img(src="./images/noun_presentation.svg", alt="", srcset="")
                  span Valores
                .flip-card-back--white
                  span= valores

      article.content__partners#partners
        h1.content__partners-title Parceiros
        .content__partners-container
          .content__partners-box
            .content__partners-box-icon
              img(src="./images/logo-grey.svg", alt="", srcset="")
            .content__partners-box-text
              h2= parceiros[0].titulo
              p= parceiros[0].texto
          .content__partners-box
            .content__partners-box-icon
              img(src="./images/logo-grey.svg", alt="", srcset="")
            .content__partners-box-text
              h2= parceiros[1].titulo
              p= parceiros[1].texto
          .content__partners-box
            .content__partners-box-icon
              img(src="./images/logo-grey.svg", alt="", srcset="")
            .content__partners-box-text
              h2= parceiros[2].titulo
              p= parceiros[2].texto

      article.content__products#products
        h1.content__partners-title Produtos
        section.content__products-container.siema2
          .content__products-item
            img(src="./images/img-04.jpg", alt="", srcset="").content__products-item-image
            .content__products-item-card
              .content__products-item-card__title
                p= produtos[0].titulo
                .content__products-slider-container
                  span.content__products-slider-button--left
                    i.fas.fa-angle-left
                  span.content__products-slider-button--right
                    i.fas.fa-angle-right
              p= produtos[0].texto
          .content__products-item
            img(src="./images/img-05.jpg", alt="", srcset="").content__products-item-image
            .content__products-item-card
              .content__products-item-card__title
                p= produtos[1].titulo
                .content__products-slider-container
                  span.content__products-slider-button--left
                    i.fas.fa-angle-left
                  span.content__products-slider-button--right
                    i.fas.fa-angle-right
              p= produtos[1].texto


      article.content__products#products
        h1.content__partners-title Entre em contato

    script(src='./js/main.js')
